$media_margin: 10px;
$img_margin: 10px;

$status_img_size: 150px;
$comment_img_size: 100px;
$contact_img_size: 100px;

// FONTS //
$status_normal_size: 16px;
$status_medium_size: 14px;

$comment_normal_size: 14px;
$comment_medium_size: 13px;

$contact_normal_size: 16px;
$contact_medium_size: 14px;