
<!DOCTYPE html>
<html>

	<body style="background-color:yellow">


		In the beginning the web will ask us for a word.
		<br>		
Then it will look on IMDB for different movies that contain that word
		<br>
It will show 9 posters of that movies
		<br>
The it will ask "Which of the movies was filmed in year xxxx?"
		<br>
The user will be allowed to click in each of the movies and it will receive feedback about being right or wrong.
		<br>
		<br>

		<p> Please, write the word to play with me: </p>
		<form action="sendword" method="POST" id="sendword">
			<input type="text" name="word" />
			<button type="submit" form="sendword">Send</button>
		</form>

		<section class="films">
		</section>


	</body>

</html>


