body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;}
h1, h2 {
  margin: 0;
  line-height: 2rem; }
/* -- HEADER ---------------------------------------------------------------- */
header {
  padding: 1rem 2rem;
  height: 2rem;
  line-height: 2rem;
  background-color: #222;
  color: #f5f5f5; }
  header > h1 {
    float: left;
    font-size: 1.25rem;}
  header > h1 > span {
    font-weight: 300;
    opacity: 0.75;}
  header > nav {
    float: right;  }
  header > nav > * {
    display: inline-block;
    vertical-align: middle;}
  header > nav > img {
    height: 2rem;
    width: 2rem;
    margin-right: .5rem;
    border-radius: 50%;
    border: solid .2rem rgba(255,255,255,0.25); }
/* -- ARTICLE --------------------------------------------------------------- */
article {
  margin: 3rem 0; }
  article h2 {
    padding: 0.645rem 1rem;
    font-size: 1.1rem;
    background-color: #999;
    color: #f5f5f5; }
  article section > *:not(h2), article aside {
    background-color: #fff;}
  article section > .map {
    display: block;
    height: 45%;
    margin-bottom: 2rem; }
  article section > form {
    padding: 1rem;}
/* -- ITEMS ----------------------------------------------------------------- */
ul.items {
  margin: 0;
  padding: 0; }
ul.items > li {
  padding: 1rem;
  list-style: none;
  cursor: pointer; }
  ul.items > li > * {
    display: block; }
  ul.items > li > span {
    float: right;
    font-size: .75rem;
    opacity: 0.5; }
  ul.items > li:hover {
    background-color: #eee;}
  ul.items > li.active {
    background-color: #ddd;
    color: #fff; }
/* -- FORM ------------------------------------------------------------------ */
form {
  font-size: 1.1rem;
  height: 2rem; }
  form > * {
    display: block;
    float: left;
    height: 2rem;
    padding: 0 .5rem;
    font-size: .9rem; }
  form > button {
    color: #fff;
    background-color: #999;
    border: none;
    cursor: pointer; }
  form > button:hover {
    background-color: #222; }
  form > :not(.small):not(.big) {
    width: 20%; }
  form > .small {
    width: 15%; }
  form > .big {
    width: 30%; }

/* -- MEDIA QUERY ----------------------------------------------------------- */
@media screen and (max-width: 400px) {
  article {
    margin: 0; }
  h2 {
    margin: 0;
    line-height: 1rem; }
  .hide-on-phone {
    display: none;
  }
  article section > .map {
    margin: 0;}
}
