<div id="votes">
    <p>
        <%= @movie.likes.size %> out of <%= @movie.votes.size %> people liked this film.
    </p>
    <p>
        <%= @movie.dislikes.size %> out of <%= @movie.votes.size %> people didn't like this film at all.
    </p>
</div>

