/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.user.admin::before{
	content: "★";
}

.user.yoda{
	background: image-url("yoda.gif") no-repeat 38px 0px;
	height: 35px;
}

#comment_form {
	display: none;
}