  <p>
    <strong>Author:</strong>
  <div class="user <%= comment.user.role %>">
    <%= author_display_name comment %>
  </div>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <% if policy(comment).update? %>
    <div class="actions">
      <%= link_to "Edit", edit_comment_path(comment) %>
    </div>
  <% end %>
